<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>About Page</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card color="medium">
  <ion-card-header>
    <ion-card-title>Max</ion-card-title>
    <ion-card-subtitle>Software Developer</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>

<ion-card color="medium">
  <ion-card-header>
    <ion-card-title>Nick</ion-card-title>
    <ion-card-subtitle>Software Developer</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    This is content, without any paragraph or header tags,
    within an ion-card-content element.
  </ion-card-content>
</ion-card>

<ion-card color="medium">
  <ion-card-header>
    <ion-card-title>David</ion-card-title>
    <ion-card-subtitle>Software Developer</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    This is content, without any paragraph or header tags,
    within an ion-card-content element.
  </ion-card-content>

  <ion-item href="#" col>
    <ion-icon name="wine" slot="start"></ion-icon>
    <ion-label>Home Page</ion-label>
  </ion-item>

</ion-card>
