<ion-header>
  <ion-toolbar>
    <ion-title>Map {{name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  color="dark">
  <div id="app-container">
    <div id="store-info">
      <ion-thumbnail  slot="start">
        <ion-img [src]="image"></ion-img>
      </ion-thumbnail>
      <div>
        <h2>{{name}}</h2>
        <p>{{rating}}</p>
        <p>{{tags}}</p>
      </div>
    </div>
    <!-- map area -->
    <div #map id="map">

    </div>
    <div id="btns">
      <ion-button (click)="dismiss()">Details</ion-button>
    </div>
  </div>
</ion-content>
