<ion-header>
  <ion-toolbar>
    <ion-title>Review {{name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  color="dark">
  <div id="modal-container">
    <ion-img [src]="image"></ion-img>
    <br>
    <ion-item>
      <ion-label>Your Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Rating</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Comments</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
</ion-content>
