<ion-header>
  <ion-toolbar>
    <ion-title>{{name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="modal-container">
    <img id="restaurant-image" width="200" height="200"/>
    <ion-row class="modal-row">
      <ion-col class="col-title">Name</ion-col>
      <ion-col class="col-info">{{name}}</ion-col>
    </ion-row>
    <ion-row class="modal-row">
      <ion-col class="col-title">Address</ion-col>
      <ion-col class="col-info">{{address}}</ion-col>
    </ion-row>
    <ion-row class="modal-row">
      <ion-col class="col-title">Rating</ion-col>
      <ion-col class="col-info">{{rating}}</ion-col>
    </ion-row>
    <ion-row class="modal-row">
      <ion-col class="col-title">Description</ion-col>
      <ion-col class="col-info">{{description}}</ion-col>
    </ion-row>
    <ion-row class="modal-row">
      <ion-col class="col-title">Tags</ion-col>
      <ion-col class="col-info">{{tags}}</ion-col>
    </ion-row>
    <ion-row style="justify-content: space-between;">
      <ion-button class="modal-btn" (click)="presentReview()">Map</ion-button>
      <ion-button class="modal-btn" (click)="presentMap()">Review</ion-button>
    </ion-row>
    <ion-row style="justify-content: space-between;">
      <ion-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-row>
  </div>
</ion-content>
