<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fancy Finder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fancy Finder</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Helping you find fancy, faster</strong>
    <div class="btn-container">
      <ion-button>Guide</ion-button>
      <ion-button>Our Team</ion-button>
    </div>
    <div class="disclaimer-container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</ion-content>
